<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Mas Noticias</title>
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">C4OS N3WS</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="hola_mundo.html">Inicio</a></li>
                    <!--cambiar # por enlase-->
                    <li><a href="sobre_nosotros.html">Sobre Nosotros</a></li>
                    <!--cambiar # por enlase-->
                    <li><a href="#">Contacto</a></li>
                    <!--cambiar # por enlase-->
                    <li><a href="register.html">Registrarse</a></li>
                    <!--cambiar # por enlase-->
                    <li><a href="login.html">Ingresar</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <!--primer texto-->

            <h1>MAS NOTICIAS</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aspernatur aperiam optio neque cupiditate
                nihil maxime. Tempora, dicta nobis labore minima unde pariatur assumenda sapiente suscipit id obcaecati
                praesentium qui?
            </p>
            <a href="hola_mundo.html" class="btn-1">volver</a>
            <!--cambiar # por enlase-->

        </div>
    </header>

    <section class="coffee">
        <!-- <img class="coffee-img" src="images/bg2.png" alt="">-->
        <div class="coffee-content container">
            <h2> NOTICIAS IMPORTANTES </h2>
            <p class="txt-p">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab temporibus vel voluptas ipsum esse sequi
                rem animi. Aperiam qui, voluptatem asperiores labore eveniet, deserunt dolorem laboriosam veniam itaque
                minima voluptas?
            </p>

            <div class="coffee-group">
                <!--grupo de imagenes e informacion-->

                <div class="coffee-1">
                    <img src="/images/320x240.png" alt="">
                    <h3>NOTICIA</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sapiente laudantium possimus
                        delectus. Amet similique vitae sint ipsum at odio, maiores numquam cum sunt est quam aperiam,
                        vel, aut distinctio.
                    </p>
                </div>
                <div class="coffee-1">
                    <img src="/images/320x240.png" alt="">
                    <h3>NOTICIA</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sapiente laudantium possimus
                        delectus. Amet similique vitae sint ipsum at odio, maiores numquam cum sunt est quam aperiam,
                        vel, aut distinctio.
                    </p>
                </div>
                <div class="coffee-1">
                    <img src="/images/320x240.png" alt="">
                    <h3>cNOTICIA</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sapiente laudantium possimus
                        delectus. Amet similique vitae sint ipsum at odio, maiores numquam cum sunt est quam aperiam,
                        vel, aut distinctio.
                    </p>
                </div>
                
            </div>
            <a href="/noticia.html" class="btn-1">informacion </a>
        </div>
    </section>
</body>
</html>
